<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moves Form</title>
</head>
<body>
    <form action="createcustomer" method="POST">
        <label for="first_name">First Name:</label>
        <input type="text" name="first_name" id="first_name" ><br>

        <label for="last_name">Last Name:</label>
        <input type="text" name="last_name" id="last_name" ><br>

        <label for="phone">Phone:</label>
        <input type="tel" name="phone" id="phone" ><br>

        <label for="email">Email:</label>
        <input type="email" name="email" id="email" ><br>

        <label for="passcode">Passcode:</label>
        <input type="password" name="passcode" id="passcode" ><br>

        <label for="rate">Rate:</label>
        <input type="number" name="rate" id="rate" ><br>

        <label for="crew_size">Crew Size:</label>
        <input type="number" name="crew_size" id="crew_size" ><br>

        <label for="truck_number">Truck Number:</label>
        <input type="number" name="truck_number" id="truck_number" ><br>

        <label for="travel_time">Travel Time:</label>
        <input type="text" name="travel_time" id="travel_time" ><br>

        <label for="deposit">Deposit:</label>
        <input type="number" name="deposit" id="deposit" ><br>

        <label for="origin_address">Origin Address:</label>
        <input type="text" name="origin_address" id="origin_address" ><br>

        <label for="origin_address2">Origin Address Line 2:</label>
        <input type="text" name="origin_address2" id="origin_address2"><br>

        <label for="origin_city">Origin City:</label>
        <input type="text" name="origin_city" id="origin_city" ><br>

        <label for="origin_state">Origin State:</label>
        <input type="text" name="origin_state" id="origin_state" ><br>

        <label for="origin_zipcode">Origin Zip Code:</label>
        <input type="text" name="origin_zipcode" id="origin_zipcode" ><br>

        <label for="destination_address">Destination Address:</label>
        <input type="text" name="destination_address" id="destination_address" ><br>

        <label for="destination_address2">Destination Address Line 2:</label>
        <input type="text" name="destination_address2" id="destination_address2"><br>

        <label for="destination_city">Destination City:</label>
        <input type="text" name="destination_city" id="destination_city" ><br>

        <label for="destination_state">Destination State:</label>
        <input type="text" name="destination_state" id="destination_state" ><br>

        <label for="destination_zipcode">Destination Zip Code:</label>
        <input type="text" name="destination_zipcode" id="destination_zipcode" ><br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>
