
        
        <!-- Eighth Row -->
        <div class="column full-width">
          <h1><%=result.first_name %> <%=result.last_name %>  </h1>
            <form action="/input2" method="POST">
            <input type="hidden" id="signature_input" name="signature_input">
            <canvas id="signature" width="800px" height="300px" style="border:solid 1px black;"></canvas><br><br>
            <center> <button type="button" onclick="saveSignature()">Sign and Accept</button> </center>
        </form>
          
        </div>
      </div>
        
 <!-- JAVASCRIPT FOR DRAWING PAD FUNCTIONS -->
      <script>
        const canvas = document.getElementById('signature');
        const ctx = canvas.getContext('2d');

        let isDrawing = false;
        let lastX = 0;
        let lastY = 0;

        canvas.addEventListener('mousedown', (event) => {
        isDrawing = true;
        [lastX, lastY] = [event.offsetX, event.offsetY];
        });

        canvas.addEventListener('mousemove', (event) => {
        if (!isDrawing) return;
        ctx.beginPath();
        ctx.moveTo(lastX, lastY);
        ctx.lineTo(event.offsetX, event.offsetY);
        ctx.stroke();
        [lastX, lastY] = [event.offsetX, event.offsetY];
        });

        canvas.addEventListener('mouseup', () => {
        isDrawing = false;
        });

        function generateRandomString(length) {
            const characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
            let result = '';
            for (let i = 0; i < length; i++) {
              result += characters.charAt(Math.floor(Math.random() * characters.length));
            }
            return result;
        }

        function saveSignature() {
        const signature = canvas.toDataURL('image/png');
        document.getElementById('signature_input').value = signature;
        document.querySelector('form').submit();
        }
        </script>