
<form action="input1" method="post">

    <label for="signature1_datetime">Signature 1 Date & Time:</label>
    <input type="datetime-local" id="signature1_datetime" name="signature1_datetime"><br>

    <label for="start_date">Start Date:</label>
    <input type="date" id="start_date" name="start_date"><br>

    <label for="start_time">Start Time:</label>
    <input type="time" id="start_time" name="start_time"><br>


    <label for="end_date">End Date:</label>
    <input type="date" id="end_date" name="end_date"><br>

    <label for="end_time">End Time:</label>
    <input type="time" id="end_time" name="end_time"><br>

    <label for="signature2_datetime">Signature 2 Date & Time:</label>
    <input type="datetime-local" id="signature2_datetime" name="signature2_datetime"><br>

    <label for="signatures_ip">Signatures IP:</label>
    <input type="text" id="signatures_ip" name="signatures_ip"><br>

    <label for="packingmaterials">Packing Materials:</label>
    <input type="text" id="packingmaterials" name="packingmaterials"><br>


    <label for="subtotal">Subtotal:</label>
    <input type="text" id="subotal" name="subtotal"><br>

    <label for="subtotalcc">Subtotal cc:</label>
    <input type="text" id="subtotalcc" name="subtotalcc"><br>
    
    <br>
    <hr>
    <br>



    <label for="cpb15">CPB 15:</label>
    <input type="text" id="cpb15" name="cpb15"><br>

    <label for="cpb30">CPB 30:</label>
    <input type="text" id="cpb30" name="cpb30"><br>

    <label for="cpb45">CPB 45:</label>
    <input type="text" id="cpb45" name="cpb45"><br>

    <label for="cpb60">CPB 60:</label>
    <input type="text" id="cpb60" name="cpb60"><br>

    <label for="cpmirror">CP Mirror:</label>
    <input type="text" id="cpmirror" name="cpmirror"><br>

    <label for="cpdishpack">CP Dishpack:</label>
    <input type="text" id="cpdishpack" name="cpdishpack"><br>

    <label for="cpmattress">CP Mattress:</label>
    <input type="text" id="cpmattress" name="cpmattress"><br>

    <label for="opb15">OPB 15:</label>
    <input type="text" id="opb15" name="opb15"><br>

    <label for="opb30">OPB 30:</label>
    <input type="text" id="opb30" name="opb30"><br>

    <label for="opb45">OPB 45:</label>
    <input type="text" id="opb45" name="opb45"><br>

    <label for="opb60">OPB 60:</label>
    <input type="text" id="opb60" name="opb60"><br>

    <label for="opmirror">OP Mirror:</label>
    <input type="text" id="opmirror" name="opmirror"><br>

    <label for="opdishpack">OP Dishpack:</label>
    <input type="text" id="opdishpack" name="opdishpack"><br>

    <label for="opmattress">OP Mattress:</label>
    <input type="text" id="opmattress" name="opmattress"><br>

    <label for="optape">OP Tape:</label>
        <input type="text" id="optape" name="optape"><br>

        <label for="opbubble">OP Bubble:</label>
        <input type="text" id="opbubble" name="opbubble"><br>


          
    <br>
    <hr>
    <br>


        <label for="add_service_1">Add Service 1:</label>
        <input type="text" id="add_service_1" name="add_service_1"><br>

        <label for="add_service_11">Add Service 11:</label>
        <input type="text" id="add_service_11" name="add_service_11"><br>

        <label for="add_service_111">Add Service 111:</label>
        <input type="text" id="add_service_111" name="add_service_111"><br>

        <label for="add_service_2">Add Service 2:</label>
        <input type="text" id="add_service_2" name="add_service_2"><br>

        <label for="add_service_22">Add Service 22:</label>
        <input type="text" id="add_service_22" name="add_service_22"><br>

        <label for="add_service_222">Add Service 222:</label>
        <input type="text" id="add_service_222" name="add_service_222"><br>

        <label for="add_service_3">Add Service 3:</label>
        <input type="text" id="add_service_3" name="add_service_3"><br>

        <label for="add_service_33">Add Service 33:</label>
        <input type="text" id="add_service_33" name="add_service_33"><br>

        <label for="add_service_333">Add Service 333:</label>
        <input type="text" id="add_service_333" name="add_service_333"><br>
  
    <br>
    <hr>
    <br>

        <input type="submit" value="Submit">
    </form>
</body>
</html> 