<h1> SIGNATURE 1</h1>
<img src="/<%=result.signature1_url%>" alt="First signature" style="border:solid 1px black"><br>


<h1> SIGNATURE 2</h1>
<img src="/<%=result.signature2_url%>" alt="Second signature" style="border:solid 1px black"><br>


