CHANGE USER - TYPE IN ID
<form action="/moveidsession" method="post">
    <input type="text" name="customer_id">
    <button type="submit"> SUBMIT </button>
</form>



SIGNATURE 1 
<form action="/createinput2" method="post">
    <button type="submit"> CREATE SIGNATURE 1 </button>
</form>
SIGNATURE 2
<form action="/createinput3" method="post">
    <button type="submit"> CREATE SIGNATURE 2 </button>
</form>

SIGNATURE 3 - DRIVER SIGNATURE
<form action="/createinput4" method="post">
    <button type="submit"> CREATE SIGNATURE 3 </button>
</form>

SEE SIGNATURES:
<form action="/seesignatures" method="post">
    <button type="submit"> SEE SIGNATURES </button>
</form>
<br>


SEE PDF BILL OF LADDING
<form action="/bolpdf" method="post">
    <input type="text" name="customer_id">
    <button type="submit"> Submit </button>
</form>

